<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maple.demo.dao.LogSystemLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.maple.demo.bean.LogSystemLog">
        <id column="id" property="id" />
        <result column="params" property="params" />
        <result column="results" property="results" />
        <result column="create_date" property="createDate" />
        <result column="request_ip" property="requestIp" />
        <result column="all_method_name" property="allMethodName" />
        <result column="method_name" property="methodName" />
        <result column="operation_type" property="operationType" />
        <result column="success" property="success" />
        <result column="resp_time" property="respTime" />
        <result column="error_msg" property="errorMsg" />
        <result column="operate_id" property="operateId" />
        <result column="operate_name" property="operateName" />
        <result column="log_type" property="logType" />
        <result column="log_desc" property="logDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, params, results, create_date, request_ip, all_method_name, method_name, operation_type, success, resp_time, error_msg, operate_id, operate_name, log_type, log_desc
    </sql>

</mapper>
